{% extends 'base.html' %} {% block body %}
<div class="container-fluid px-0 mb-2 py-0">
  <img src="/static/img/27.jpg" class="d-block w-1000" alt="..." />
</div>
  <h1 class="display-5 fw-bold text-center">About Us</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4 ">
      Yummy has been built upon the Gajwani family’s passion for ice cream which drove founder, Chandraprakash Gajwani to launch the business in 2020.

Drawing on over 25 years of expertise within the ice cream industry, his mission is to serve a great tasting, mouth watering experience to ice cream lovers all over the world. Using only the freshest ingredients, Chandraprakash Gajwani has crafted an authentic ice cream recipe that has been perfected in Italy.

This continuous effort to provide only the best ice cream has propelled Yummy to establish itself as a unique ice cream provider within the India.
    </p>
  </div>
</div>
{% endblock body %} {%block title %} About us {% endblock title %}
